{{#*inline "page"}}
<div class="hook">The Undertale X Homestuck Platform Fighter</div>

<div class="row">
    <div class="col-md">
        <h2>Made to be Modded</h2>
        <p>
            The game is built with modding in mind!
            Not only do you have open source access to <a href="https://github.com/rukai/canon_collision">the entire rust source code</a>.
            But the game also has powerful built-in tools, allowing you to create your own characters and stages without writing a single line of code.
        </p>
        <h2>Download</h2>
        <p>
            You can download the <a href="/builds">latest build here</a>.
            But the game isnt really playable yet.
        </p>
    </div>
    <div class="col-md">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="video embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/9lftUojcV44?rel=0&amp;" allowfullscreen></iframe>
        </div>
    </div>
</div>
{{/inline}}

{{~> base title="Canon Collision" page_home=true ~}}
